# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

tmp

demo/osgtt-demo
demo/osgtt-shape
demo/case*/*.crd
demo/case*/*.ebc
demo/scene.*

